/* TODO: Create theme setup? */

#marblebrush {
    border: 1px solid #808080;
    width: 320px;
    padding: 8px;
    margin: 0 auto;
}

#marblebrush * {
    box-sizing: border-box;
    font-family: Tahoma;
    font-size: 11px;
    padding: 0;
    margin: 0;
    user-select: none;
}

#marblebrush-canvas {
    background: #e8e8e8;
    display: block;
}

#marblebrush-toolbar {
    background: #e8e8e8;
    display: flex;
    padding: 4px;
}

#marblebrush-statusbar {
    background: #e8e8e8;
    border-top: 1px solid #c0c0c0;
    padding: 4px;
    cursor: default;
    display: flex;
    justify-content: space-between;
}

#marblebrush .marblebrush-tool {
    margin: 0 2px;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#marblebrush .marblebrush-tool:first-child {
    margin-left: 0;
}

#marblebrush .marblebrush-tool:last-child {
    margin-right: 0;
}

#marblebrush .marblebrush-tool:hover {
    background-color: #c0c0c0;
}

#marblebrush hr {
    border: 0;
    border-top: 1px solid #808080;
    margin: 8px 0;
}
