/* TODO: Create theme setup? */

#marblebrush {
    border: 1px solid #70758c;
    margin: 0 auto;
    border-radius: 2px;
    position: absolute;
    resize: both;
    overflow: hidden;
    min-height: 240px;
    min-width: 320px;
}

#marblebrush * {
    box-sizing: border-box;
    font-family: Tahoma;
    font-size: 11px;
    padding: 0;
    margin: 0;
    user-select: none;
}

#marblebrush-title-bar {
    background: linear-gradient(to right, #c3ecf7 0%,#afaee5 100%);
    border-bottom: 1px solid #70758c;
    padding: 4px;
    font-weight: bold;
}

#marblebrush-canvas-container {
    padding: 4px;
}

#marblebrush-canvas {
    background: #e8e8e8;
    display: block;
    background: #c0c0c0;
}

#marblebrush-canvas canvas {
    position: absolute;
}

#marblebrush-toolbar {
    background: #e8e8e8;
    display: flex;
    padding: 4px;
}

#marblebrush-statusbar {
    background: #e8e8e8;
    border-top: 1px solid #c0c0c0;
    padding: 4px;
    cursor: default;
    display: flex;
    justify-content: space-between;
}

#marblebrush .marblebrush-tool {
    margin: 0 2px;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#marblebrush .marblebrush-tool:first-child {
    margin-left: 0;
}

#marblebrush .marblebrush-tool:last-child {
    margin-right: 0;
}

#marblebrush .marblebrush-tool:hover {
    background-color: #c0c0c0;
}

#marblebrush hr {
    border: 0;
    border-top: 1px solid #808080;
    margin: 8px 0;
}
